# Importing SNI Codes to SQL SWINNO

In [94]:
import pandas as pd
from src.swinno_helpers import connect_swinno_db

In [96]:
sni_codes = pd.read_excel("https://www.scb.se/contentassets/d43b798da37140999abf883e206d0545/sni2002.xlsx", sheet_name=None, skiprows=2, dtype=str, keep_default_na=False, na_values=["NULL"])

In [97]:
print(sni_codes.keys())

dict_keys(['Detaljgrupp (Femsiffer)', 'Undergrupp (Fyrsiffer)', 'Grupp (Tresiffer)', 'Huvudgrupp (Tvåsiffer)', 'Underavdelning (Bokstav)', 'Avdelning (Bokstav)'])

In [98]:
sni_codes['Detaljgrupp (Femsiffer)'].head()

,Detaljgrupp (Officiell kodstruktur),Detaljgrupp,Benämning
0,01.111,01111,Spannmålsodling m.m.
1,01.112,01112,Vallodling
2,01.113,01113,Potatisodling
3,01.114,01114,Sockerbetsodling
4,01.115,01115,"Odling av jordbruksväxter, blandat (minst 67 %..."

In [100]:
for name in list(sni_codes.keys())[:3]:
    sni_codes[name] = sni_codes[name].iloc[:, 1:]

In [101]:
for df in sni_codes:
    sni_codes[df].columns = ["code", "label"]

In [102]:
merged_codes = pd.concat(sni_codes, keys=tuple(sni_codes), ignore_index=True)

In [103]:
merged_codes["code"] = merged_codes["code"].astype(str)

In [104]:
conn = connect_swinno_db()

In [105]:
from sqlalchemy.types import String

merged_codes.to_sql(name="sni_codes", con=conn, index=False, if_exists="replace", dtype={col_name: String for col_name in merged_codes.columns})

1622

In [106]:
merged_codes.loc[merged_codes["label"] == "Hälso- och sjukvård, sociala tjänster; veterinärverksamhet", :]

     code                                              label
1567   85  Hälso- och sjukvård, sociala tjänster; veterin...
1601   NA  Hälso- och sjukvård, sociala tjänster; veterin...
1618    N  Hälso- och sjukvård, sociala tjänster; veterin...