In [25]:
import pandas as pd
import sqlite3
import sqlite_utils
import pathlib
from src.swinno_helpers import *

In [26]:
top_dir = pathlib.Path.cwd().parent

df = pd.read_excel(pathlib.Path(top_dir, "data/modified-data/filtered_swinno.xlsx"))

In [27]:
df = split_cols(df, "bioeconomy_vision")
df = split_cols(df, "innovation_type")

In [29]:
bioeconomy_vision = melt_table(df, id_vars="sinno_id", col_start="bio", value_name="bioeconomy_vision").dropna()

innovation_type = melt_table(df, id_vars="sinno_id", col_start="innovation_type", value_name="innovation_type")

In [38]:
b = bioeconomy_vision.dropna(how='any')
b.isna().sum()

sinno_id             0
bioeconomy_vision    0
dtype: int64

5

In [11]:
t = df.loc[df["sinno_id"] == 6707001]
t = split_cols(t, "bioeconomy_vision")
t["bioeconomy_vision_0"].dtype

c:\users\ph8148kr\onedrive - lund university\research\shades-green-swinno\src\swinno_helpers.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df[f"{col_to_split}_{col}"] = split_cols[col]
c:\users\ph8148kr\onedrive - lund university\research\shades-green-swinno\src\swinno_helpers.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.drop(labels=col_to_split, axis=1, inplace=True)

dtype('O')

In [21]:
import numpy as np

expected_result_df = pd.DataFrame(
    {"A_0": ["1", np.nan, "0", "1"], "A_1": ["2", np.nan, np.nan, "2"]}
)

expected_result_df

   A_0  A_1
0    1    2
1  NaN  NaN
2    0  NaN
3    1    2

In [24]:
test_input_df = pd.DataFrame({"A": ["1 2", np.nan, "0", " 1 2"]})

split_cols(test_input_df, "A").fillna(np.nan)

   A_0   A_1
0    1     2
1  nan  None
2    0  None
3    1     2

In [ ]:
innovation_classification = df1.join(df2, on='sinno_id', how='outer')

In [ ]:
t = pd.merge(df1, df2, on='sinno_id', how='outer')

The idea to merge these tables in python turns out to be nonsense for database storage.
Better to store each as an individual table and merge as needed.

In [ ]:
con = sqlite3.connect('../../swinno.db')

bioeconomy_vision.to_sql("bioeconomy_vision", con, if_exists="replace", index=False)
innovation_type.to_sql("innovation_type", con, if_exists="replace", index=False)

In [ ]:
db = sqlite_utils.Database(memory=True)
dogs = db.table("dogs", pk="id")
humans = db.table("humans", pk="id")

dogs.insert({"id": 1, "name": "Cleo"}).m2m(
    humans, [
        {"id": "1", "name": "Natalie"},
        {"id": "2", "name": "Simon"}
    ]
)

In [ ]:
innovation_type.dropna(inplace=True)
innovation_type.shape

In [ ]:
[Use sectors], 
[Use sector 2], 
[Use sector 3],
[Use sector 4],
[Use sector 5],
[Use sector 6],
[Use sector 7],
[Use sector 8],
[Use sector 9],